.fondo-chef{
	width:100%;
	height:100vh;
	position:relative;
}
.fondo-chef::before{
	content:"";
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-image:url(../img/fondo-chef.jpg)!important;
	background-attachment: fixed;
	background-size:cover;
	position:absolute;
	z-index:-2;
}
.fondo-chef::after{
	content:"";
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:black;
	position:absolute;
	opacity:0.5;	
	z-index:-1;
}
